.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__input {
  font-family: "inter", arial, sans-serif;
  font-weight: normal;
  margin-bottom: 32px;
  border: 1px solid #838383;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 19px 20px;
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 20px;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 0;
}

.form__button {
  width: 100%;
  margin-bottom: 32px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  border: none;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.3s ease;
  
}

